* {
    margin: 0;
    user-select: none;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;

    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
}

.quest {
    width: 50%;
    height: 10%;

    background-color: rgb(212, 202, 61);
    
    border-radius: 50px;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20%;
    cursor: pointer;
}
.questText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vw; 
    text-align: center;
}

.options {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.option {
    background-color: rgb(255, 96, 96);
    width: 35%;
    height: 35%;

   
    margin: 5%;
    border: 1px solid black;

    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    padding: 0.5%;
}
.optText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw; 
    text-align: center;

    font-weight: 500;
    
}

.option:hover {
    background-color: rgb(168, 56, 56);;
}


.player {
    margin-top: 25%;

    width: 3%;
    padding-bottom: 3%;
    
    background-color: cornflowerblue;

    position: absolute;

    margin-top: 25%;
      
} 


@keyframes moveToLeft {
    0% {
        margin-top: 25%;
        margin-bottom: 0%;
        margin-right: 0%;
    }
    28% {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-right: 0%;
    }
    72% {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-right: 45%;
    }
    100% {
        margin-top: 0%;
        margin-bottom: 25%;
        margin-right: 45%;
    }
    
}

@keyframes moveToRight {
    0% {
        margin-top: 25%;
        margin-bottom: 0%;
        margin-left: 0%;
    }
    28% {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
    }
    72% {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 45%;
    }
    100% {
        margin-top: 0%;
        margin-bottom: 25%;
        margin-left: 45%;
    }
}




